div{
    margin: 10px;
    padding: 10px;
    background-color: rgba(112, 91, 49, 0.6 );
    color: rgb(233, 228, 187);
    text-align: center;
    text-shadow: 2px 2px 2px rgb(112, 60, 0);;
}
#header01{
    text-align: center;
}
#header02{
    text-align: center;
}
body{
    background-image:  url("sunsetwater.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
li{
    text-align: left;
    font-size: medium;
}
p{
    text-align: left;
    font-size: medium;
    font-style: normal;
}